{% extends 'accounts/index.html' %}

{% block content %}
    <div class="container-fluid h-100">
			<div class="row justify-content-center h-100">
				<div class="col-md-12 col-xl-12 chat">
					<div class="card">
                        <div class="card-header">
                            <div class="card-title"><img src="https://source.unsplash.com/QAB-WJcbgJk/60x60" class="rounded-circle">
                                {% if receiver is not None %}
                                    <b>{{ receiver.username }}</b> | <span class="card-title" id="ct"></span>
                               {% endif %}
                            </div>
                        </div>
                        <!--======CARD BODY=====-->
                        <div class="card-body">
                            {% if chats %}
                           {% for chat in chats %}
                               {% if chat.sender == request.user %}
                                   	<div class="d-flex justify-content-start mb-4">
                                        <div class="msg-sender">
                                           {{ chat.message_text }}
                                        </div>
                                    </div>

                                   <p class="badge badge-primary"></p>
                                   {% else %}
                                   	<div class="d-flex justify-content-end mb-4">
                                        <div class="msg-receiver">
                                            {{ chat.message_text }}
                                        </div>
                                        <div class="msg-userInfo">
                                            <span>{{ receiver.username }}</span>
                                        </div>
							        </div>
                               {% endif %}
                           {% endfor %}
                           {% else %}
                           <p>There are no chats</p>
                       {% endif %}
                            	<div class="card-footer">
						  <form method="post" action="">
                           {% csrf_token %}
                             <div class="input-group">
                  <input type="text" class="form-control customInput" required name="message"  placeholder="Type your message here">
                      <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fa fa-paper-plane"></i> </button>
                  </div>
                </div>

                       </form>
						</div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
{% endblock %}