{% extends 'accounts/index.html' %}
{% block content %}
    <div class="container-fluid h-100">
			<div class="row justify-content-center h-100">
            <div class="col-sm-12 col-md-5 offset-md-3">
                <p class="text-success text-center">Your payment was successfully completed.Wait for a few minutes to try again our search functionality before your account is et up.Thank you
                and enjoy the functionalities available here.</p>
           </div>
			</div>
		</div>
{% endblock %}