
{% extends 'accounts/index.html' %}

{% block content %}
    <div class="container-fluid h-100">
			<div class="row justify-content-center h-100">
            <div class="col-sm-12 col-md-12">
             <div class="card">
               <span class="card-header text-center"><i class="fa fa-paypal"></i> Subscribe With Paypal </span>
               <div class="card-body">
                   <h3 class="text-center">{{ form.render }}</h3>
               </div>
           </div>
        </div>

			</div>
		</div>
{% endblock %}














