{% extends 'sys_admin/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 m6 offset-m4">
            <div class="card">
                <form method="post" action="">
                <div class="card-content">
                    <span class="card-title center-align">Girll Tallk (Sys Admin)| CREATE ACCOUNT</span>
                    <div class="divider"></div>
                        {% csrf_token %}
                    {% if messages %}
                        {% for message in messages %}
                             {% if message.tags == 'success' %}
                                   <p class="center-align gtallk-success">{{ message }}</p>
                                 {% else %}
                                   <p class="center-align gtallk-error">{{ message }}</p>
                            {% endif %}
                        {% endfor %}

                    {% endif %}
                        <div class="row">
                            <div class="input-field col s12 m6">
                                {{ form.first_name }}
                            </div>
                            <div class="input-field col s12 m6">
                                {{ form.last_name }}
                            </div>

                        </div>
                        <div class="row">
                            <div class="input-field col s12 m6">
                                {{ form.email }}
                            </div>
                             <div class="input-field col s12 m6">
                                {{ form.username }}
                            </div>
                        </div>

                     <div class="row">
                            <div class="input-field col s12 m6">
                                {{ form.password1 }}
                            </div>
                         <div class="input-field col s12 m6">
                                {{ form.password2 }}
                            </div>

                        </div>

                </div>
                <div class="card-action">
                    <div class="row valign-wrapper">
                        <div class="col s12 m6 offset-m3">
                             <button class="btn btn-block gtallk-btn" type="submit">Create Account</button>
                        </div>
                    </div>

                    <p class="center-align">Already have an account ? <a href="{% url 'system_admin:login' %}">Login</a> </p>
                </div>
                </form>

            </div>
        </div>
    </div>
</div>





{% endblock %}