{% extends 'sys_admin/sysadmin_base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col s12 m12">
                <h6>System Administrator DashBoard</h6>
            </div>
        </div>

    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-content">
                    <h1 class="card-title center-align" style="font-size: 50px">{{ total_users }}</h1>
                    <div class="divider"></div>
                    <h5 class="center-align">Total Registered Users</h5>
                </div>
            </div>
        </div>
        <div class="col s12 m4 offset-m2">
            <div class="card">
                <div class="card-content">
                    <h1 class="card-title center-align" style="font-size: 50px">$ {{ total_amount.amount__sum}}</h1>
                    <div class="divider"></div>
                    <h5 class="center-align">Total Revenue Collected</h5>
                </div>
            </div>

        </div>

    </div>



    </div>
{% endblock %}