{% extends 'sys_admin/sysadmin_base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col s12 m12">
                <h6>System Administrator DashBoard</h6>
            </div>
        </div>


    <div class="container">
        <div class="row valign-wrapper">
            <div class="col s12 m4">
                <div class="card">
                    <h3 class="card-title center-align">34500 Users</h3>
                    <div class="divider"></div>
                    <div class="card-content">
                        <p>There are over 345600 Users.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <h3 class="card-title center-align">$3400 </h3>
                    <div class="divider"></div>
                    <div class="card-content">
                        <p>There are over 345600 Users.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <h3 class="card-title center-align">Access Codes</h3>
                    <div class="divider"></div>
                    <div class="card-content">
                        <p>There are over 345600 Users.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}