{% extends 'sys_admin/sysadmin_base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col s12 m12">
                <h6>Company Finances Management</h6>

            </div>
        </div>

    <div class="container">
    <div class="row">
        <div class="col s12">
            <h3>All Finances</h3>
        </div>
    </div>
        <div class="row">

            <div class="col s12 m12">
                <h5 class="center-align gtallk-error">Coming Soon</h5>
            </div>
        </div>

    </div>
    </div>


{% endblock %}