{% extends 'subscriber/subscriber_base.html' %}
{% block content %}
    <div id="main">
    <div class="row">
        <div class="col s12 m6 offset-m3">
          <div  class="card">
    <div class="card-content">
      <h6 class=" card-title center-align pink-text">FACEBOOK UNIQUE PROFILE ID INSTRUCTIONS</h6>
        <ul></ul>
      <p>The following are the instructions you will use to get the unique profile ID of a facebook user</p>
        <ol>
            <li>First of all find the friend you want to get its profile by either searching.</li>
            <li>After successfully search,click on its name and you will be taken to his/her profile.</li>
            <li>At the top of your browser you will be provided with a link like this one below in italics.</li>
            <p><i><a>https://web.facebook.com/winnie.memz.7?fref=profile_friend_list&hc_location=friends_tab</a></i></p>
            <li>In the url provided in your chosen user profile, the unique identify is the word that is between <i class="pink-text">facebook.com/</i> and the first Question mark <i class="pink-text">?</i>.</li>
            <p>in my case the unique identify for this user is <i class="pink-text">winnie.memz.7</i> </p>
            <li>Copy this unique identify and use it to perform facebook Search.</li>
            <p class="center-align pink-text">"Thank you.Enjoy Using the Application."</p>
        </ol>
    </div>

  </div>

        </div>
    </div>
    </div>

{% endblock %}