{% extends 'subscriber/subscriber_base.html' %}
{% load static %}
{% block content %}
<div id="main">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="container-fluid">
                <div class="row">
                      <div class="col s12 m12 l12">
                          <div class="row">
                              <div class="col s12"><h2 class="center-align">Start Searching...</h2></div>
                          </div>
                          <div class="row">
                              <div class="col s12 m8 l8">
                                   <form method="post" action="">
                              {% csrf_token %}
                                        {% if messages %}
                                            {% for message in messages %}
                                                  <p class="center-align gtallk-error"><span class="material-icons">error</span> {{ message }}</p>
                                            {% endfor %}
                                        {% endif %}
                                   {% if s_status == '' %}
                                       <a href="{% url 'subscription:subscriptionplans' %}" class="btn btn-block">Subscribe</a>
                                   {% endif %}
                              <div class="row">
                              <div class="input-field col s12 m4 l3">
                                  <select name="cat">
                                   <option value="null">Select Category</option>
                                    <option value="facebook">Facebook</option>
                                    <option value="phone">Phone</option>
                                    <option value="eharmony">eharmony</option>
                                    <option value="kik">KIK</option>
                                    <option value="snapchat">Snapchat</option>
                                    <option value="instagram">Instagram</option>
                                    <option value="tinder">Tinder</option>
                                    <option value="pof">POF</option>
                                </select>
                              </div>

                              <div class="input-field col s12 m4 l4">
                                  <input id="searchT" type="text" class="validate" name="searchTerm">
                                  <label for="searchT">Enter Search Term</label>
                              </div>
                              <div class="input-field col s12 m2 l2">
                                  <button class="btn btn-block gtallk-btn" type="submit">Search</button>
                              </div>
                          </div>
                               </form>
                                  <div class="row">
                                      <div class="col s12 m12 l12">
                                          <p><span class="material-icons pink-text">error</span>To search using facebook use the specific link provided by facebook.To view on how to achieve this <!-- Modal Trigger -->
  <a class="waves-effect waves-light pink-text modal-trigger" href="#instructions-modal">View Instructions</a></p>
                                          <p class="">Available Matching:</p>
                    <p class="">
                        <img src="{% static 'images/search/combined.PNG' %}" class="responsive-img">
                    </p>

                                      </div>
                                  </div>

                              </div>
                              <div class="col s12 m4 l4">
                              <div class="row">
                                  <div class="col s12 m12">
                                      {% if  searchResults %}
                                  <div class="card">
                                    <div class="card-content">
                                      <table>

                                            <thead>
                                            <tr><th class="center-align gtallk-label">Users with Similar Searches</th></tr>
                                              <tr>
                                                  <th class="gtallk-label">Username</th>
                                                  <th class="gtallk-label">Action</th>
                                              </tr>
                                            </thead>

                                            <tbody>
                                            {% for user in searchResults %}
                                               <tr><td>{{ user.user.username}}</td><td><a href="{% url 'accounts:chat' user_id=user.user.id %}">Chat</a></td></tr>
                                           {% endfor %}

                                            </tbody>
                                      </table>
                                  </div>
                                       {% else %}
                                        <p class="gtallk-error">Your search term did not match any previous searches</p>
                                  {% endif %}

                              </div>
                                  </div>
                              </div>


                          </div>

                      </div>
                      <div class="row">
    <div class="col s12 m12 l12">
        <p><strong>Disclaimer:-</strong>Girl Tallk is solely a marketing service for persons with common interests and under no circumstances will any person be authorized to share any personal information including without limitation phone numbers, usernames and passwords, failing to abide by these terms and conditions will result in automatic deletion of your account.
</p>
    </div>
</div>
                </div>

            </div>

        </div>
    </div>
</div>
<!-- Modal Structure -->
  <div id="instructions-modal" class="modal">
    <div class="modal-content">
      <h6 class="center-align pink-text">FACEBOOK UNIQUE PROFILE ID INSTRUCTIONS</h6>
        <ul></ul>
      <p>The following are the instructions you will use to get the unique profile ID of a facebook user</p>
        <ol>
            <li>First of all find the friend you want to get its profile by either searching.</li>
            <li>After successfully search,click on its name and you will be taken to his/her profile.</li>
            <li>At the top of your browser you will be provided with a link like this one below in italics.</li>
            <p><i><a>https://web.facebook.com/winnie.memz.7?fref=profile_friend_list&hc_location=friends_tab</a></i></p>
            <li>In the url provided in your chosen user profile, the unique identify is the word that is between <i class="pink-text">facebook.com/</i> and the first Question mark <i class="pink-text">?</i>.</li>
            <p>in my case the unique identify for this user is <i class="pink-text">winnie.memz.7</i> </p>
            <li>Copy this unique identify and use it to perform facebook Search.</li>
            <p class="center-align pink-text">"Thank you.Enjoy Using the Application."</p>
        </ol>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
<!--END OF INSTRUCTIONS MODAL

</div>
{% endblock %}