{% extends 'subscriber/subscriber_base.html' %}
{% load static %}
{% block content %}
<div id="main">
<div class="row">
    <div class="col s12 m12 l12">
        <h4 class="center-align"><u>Payment Status</u></h4>
    </div>
</div>
    <div class="row">
    <div class="col s12 m12 l12">
        <p class="center-align">
            Your subscription was done successfully.However,it will take a few minutes before it gets updated on our platform.Just wait
            and start enjoy our services.
        </p>
    </div>
</div>

</div>
{% endblock %}