{% extends 'subscriber/subscriber_base.html' %}
{% load static %}
{% block content %}
<div id="main">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="container">
              <div class="row">
                    <div class="col s12 m4 offset-m4">
                      <div class="card">
                        <div class="card-content black-text">
                            <div class="gtallk-card-header">
                                 <span class="card-title center-align">Pay With Paypal</span>
                                <div class="divider"></div>
                            </div>
                            <div class="row valign-wrapper">
                                <div class="col s10">
                                    <h1 class="center-align">
                                        {{ form.render }}
                                    </h1>
                                </div>
                            </div>


                        </div>
                      </div>
                    </div>
           </div>
           </div>
    </div>
</div>
</div>
{% endblock %}