{% extends 'subscriber/subscriber_base.html' %}
{% load static %}
{% block content %}
<div id="main">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="container-fluid">
                <div class="row">
                      <div class="col s12 m12 l12">
                          <div class="row">
                              <div class="col s12"><h2 class="center-align">Select Search Term and Click Search</h2></div>
                          </div>
                          <div class="row">
                              <div class="col s12 m8 l8">
                                   <form method="post" action="">
                              {% csrf_token %}
                                        {% if messages %}
                    {% for message in messages %}
                          <p class="center-align gtallk-error">{{ message }}</p>
                    {% endfor %}
                {% endif %}
                              <div class="row">
                              <div class="input-field col s12 m6 l6">
                                  <select name="searchTerm">
                                   <option value="null">Select Term</option>
                                      {% if search_terms  %}
                                          {% for search_term in search_terms %}
                                          <option value="{{ search_term.search_group }}-{{ search_term.search_term }}">{{ search_term.search_group }}-{{ search_term.search_term }}</option>
                                          {% endfor %}
                                          {% else %}
                                          <option>No term</option>
                                      {% endif %}

                                </select>
                              </div>
                              <div class="input-field col s12 m2 l2">
                                  <button class="btn btn-block gtallk-btn" type="submit">Search</button>
                              </div>
                          </div>
                               </form>
                                  <div class="row">
                                      <div class="col s12 m12 l12">
                                          <p class="">Please select your search term and users who have been searching for the same term with same category will be listed.</p>


                                      </div>
                                  </div>

                              </div>
                              <div class="col s12 m4 l4">
                              <div class="row">
                                  <div class="col s12 m12">
                                      {% if  searches %}
                                  <div class="card">
                                    <div class="card-content">
                                      <table>

                                            <thead>
                                            <tr><th class="center-align gtallk-label">Users with Similar Searches</th></tr>
                                              <tr>
                                                  <th class="gtallk-label">Username</th>
                                                  <th class="gtallk-label">Action</th>
                                              </tr>
                                            </thead>

                                            <tbody>
                                            {% for user in searches %}
                                               <tr><td>{{ user.user.username}}</td><td><a href="{% url 'accounts:chat' user_id=user.user.id %}">Chat</a></td></tr>
                                           {% endfor %}

                                            </tbody>
                                      </table>
                                  </div>
                                       {% else %}
                                        <p class="gtallk-error">Your search term did not match any previous searches</p>
                                  {% endif %}

                              </div>
                                  </div>
                              </div>


                          </div>

                      </div>
                      <div class="row">
    <div class="col s12 m12 l12">
        <p><strong>Disclaimer:-</strong>Girl Tallk is solely a marketing service for persons with common interests and under no circumstances will any person be authorized to share any personal information including without limitation phone numbers, usernames and passwords, failing to abide by these terms and conditions will result in automatic deletion of your account.
</p>
    </div>
</div>
                </div>

            </div>

        </div>
    </div>
</div>

</div>
{% endblock %}