{% extends 'subscriber/subscriber_base.html' %}
{% load static %}
{% block content %}
<div id="main">
<div class="row">
    <div class="col s12 m12 l12">
        <h5 class="center-align"><u>Girl Tallk Subscription Status Response</u></h5>
    </div>
</div>
    <div class="row">
        <div class="col s12 m12 l12">
             <div class="col s12 m6 offset-m3">
                 <p>Thank you <b>{{ username }}</b> for subscribing to use our service. You are now using the 7 days of trial period. Enoy the service</p>

             </div>
        </div>

    </div>



</div>

{% endblock %}