{% extends 'subscriber/subscriber_base.html' %}
{% load static %}
{% block content %}
<div id="main">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="container-fluid">
                <div class="row">
                      <div class="col s12 m12 l12">
                          <div class="row">
                              <div class="col s12"><h5 class="center-align">Girl Tallk Affiliate | Join.Market and Earn</h5></div>
                          </div>
                          <div class="row">
                              <!--Account Commission-->
                              <div class="col s12 m4 l4">
                                  <div class="card white-text" style="background-color: #4F33A1;border-radius: 25px">
                                      <h3 class="card-title center-align" style="color: white">Available Commission Balance</h3>
                                      <h3 class="center-align" style="color: white">$ 120</h3>
                                      <div class="divider"></div>
                                      <div class="card-content" style="color: white">
                                          <p>Total Referrals:</p>
                                          <p>Total Amount:</p>
                                          <p>Maturation Date:</p>
                                          <p>With Drawn:</p>

                                          <button class="btn btn-block" style="border-radius: 50px;background-color: purple">Request With Drawal</button>

                                      </div>
                                      <div class="card-action">
                                          <p><i class="material-icons">help</i> Minimum withdrawal from Girl Tallk Affiliate program is <strong>$ 50</strong></p>
                                      </div>
                                  </div>
                              </div>
                              <!--END of commission Summary-->
                              <!--Start of detail page-->
                               <div class="col s12 m8 l8">
                                   <!--Title Row-->
                                   <div class="row">
                                       <div class="col s12 m4 l4">
                                           <div class="card black-text">
                                               <div class="card-content center-align">
                                                   <h3 class="card-title center-align">12</h3>
                                                   <p>Clicks</p>
                                               </div>
                                           </div>

                                       </div>

                                       <div class="col s12 m4 l4">
                                           <div class="card black-text">
                                               <div class="card-content center-align">
                                                   <h3 class="card-title center-align">6</h3>
                                                   <p>Signups</p>
                                               </div>
                                           </div>

                                       </div>
                                       <div class="col s12 m4 l4">
                                           <div class="card black-text">
                                               <div class="card-content center-align">
                                                   <h3 class="card-title center-align">12</h3>
                                                   <p>Conversions</p>
                                               </div>
                                           </div>

                                       </div>
                                   </div>
                                   <!--END OF TITLE ROW-->

                                   <!--REFERRAL LINK ROW-->
                                   <div class="row">
                                       <div class="col s12">
                                           <div class="card">
                                               <div class="card-content">
                                                   <div class="row">
                                                    <div class="input-field col s12">
                                                      <input readonly value="https://www.girltallk.com/affiliate/uid=1019" id="first_name" type="text" class="validate">
                                                      <label for="first_name">Your Unique Referral Link</label>
                                                    </div>
                                                  </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                                   <!--END OF REFERALL ROW-->
                                   <!--FRIENDS WHO JOINED USING LINK-->
                                   <div class="row">
                                       <div class="col s12">
                                           <div class="row">
                                               <div class="col s12">
                                                     <h5>Your Referrals</h5>
                                               </div>
                                           </div>
                                            <div class="row">
                                               <div class="col s12">
                                                     <div class="card">
                                                         <div class="card-content">
                                                             <h5>Friends Referrals Goes Here</h5>
                                                         </div>
                                                     </div>
                                               </div>
                                           </div>

                                       </div>

                                   </div>

                                   <!--END OF FRIENDS WHO JOINED WITH A LINK-->
                               </div>
                              <!--End of detail Page-->
                          </div>


                </div>

            </div>

        </div>
    </div>
</div>

</div>
{% endblock %}