
{% extends 'login.html' %}
{% block content %}
{% load static %}
<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-190 p-b-30">
				<form class="login100-form validate-form" method="post" action="">
                    {% csrf_token %}
                     <div class="login100-form-avatar">
						<img src="{% static 'images/lock.png' %}" alt="AVATAR">
					</div>

					<span class="login100-form-title p-t-20 p-b-45">
						Girl Tallk Invite Only
					</span>
                     {% if messages %}
                          {% for message in messages %}
                              <p class="text-center text-white">{{ message }}</p>
                          {% endfor %}
                      {% endif %}
					<div class="wrap-input100 validate-input m-b-10" data-validate = "Access Code is Required">
                        <input type="text" class="input100" name="access_code" placeholder="Enter access Code">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user"></i>
						</span>
					</div>


					<div class="container-login100-form-btn p-t-10">
						<button class="login100-form-btn horn-btn" type="submit">
							Proceed
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}











